imgaug
opencv-python
torch
tensorflow==2.15.1
tensorflow-datasets
tensorflow-addons
keras
image_similarity_measures
numpy
scipy
matplotlib
scikit-image
scikit-learn
jupyter
pyfftw
pandas